{% extends "base.html" %}

{% block content %}
	<h1> Gateways </h1>
	<hr>
	{% for gateway in gateways %}
	<p>
	<a href="{{ url_for('edit_gateway', name=gateway.name) }}">{{ gateway.name }}</a> : <b>{{ gateway.url }}</b>
	</p>
	{% endfor %}
    <p>Add New Gateway: <a href="{{ url_for('create_gateway') }}">Click here</a></p>
{% endblock %}
