{% extends "base.html" %}

{% block content %}
    <h1>Create new Trunk</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form..label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
 

    </form>
{% endblock %}
