{% extends "base.html" %}

{% block content %}
	<h1>User: {{ user.username }}</h1>
	{% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
        {% endif %}
	<hr>
	{% for post in posts %}
	    <p> {{ post.author.username }} says: <b>{{ post.body }}</b>
	    </p>
	{% endfor %}

{% endblock %}
